@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Light/OpenSans-Light.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Light/OpenSans-Light.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Light/OpenSans-Light.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.101) format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.101) format("ttf");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.101) format("ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/Italic/OpenSans-Italic.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.101) format("ttf");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/SemiBold/OpenSans-SemiBold.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBold/OpenSans-SemiBold.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBold/OpenSans-SemiBold.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBold/OpenSans-SemiBold.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBold/OpenSans-SemiBold.ttf?v=1.101) format("ttf");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/SemiBoldItalic/OpenSans-SemiBoldItalic.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBoldItalic/OpenSans-SemiBoldItalic.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBoldItalic/OpenSans-SemiBoldItalic.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBoldItalic/OpenSans-SemiBoldItalic.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/SemiBoldItalic/OpenSans-SemiBoldItalic.ttf?v=1.101) format("ttf");
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.101) format("ttf");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.101) format("ttf");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.101) format("ttf");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.101) format("woff2"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.101) format("woff"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.101) format("eot"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.101) format("svg"),
  url(https://statics.vntrip.vn/fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.101) format("ttf");
  font-weight: 800;
  font-style: italic;
}

// Font Awesome
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("https://statics.vntrip.vn/fonts/fa-brands-400.eot");
  src: url("https://statics.vntrip.vn/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://statics.vntrip.vn/fonts/fa-brands-400.woff2") format("woff2"), url("https://statics.vntrip.vn/fonts/fa-brands-400.woff") format("woff"), url("https://statics.vntrip.vn/fonts/fa-brands-400.ttf") format("truetype"), url("https://statics.vntrip.vn/fonts/fa-brands-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("https://statics.vntrip.vn/fonts/fa-regular-400.eot");
  src: url("https://statics.vntrip.vn/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://statics.vntrip.vn/fonts/fa-regular-400.woff2") format("woff2"), url("https://statics.vntrip.vn/fonts/fa-regular-400.woff") format("woff"), url("https://statics.vntrip.vn/fonts/fa-regular-400.ttf") format("truetype"), url("https://statics.vntrip.vn/fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("https://statics.vntrip.vn/fonts/fa-solid-900.eot");
  src: url("https://statics.vntrip.vn/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://statics.vntrip.vn/fonts/fa-solid-900.woff2") format("woff2"), url("https://statics.vntrip.vn/fonts/fa-solid-900.woff") format("woff"), url("https://statics.vntrip.vn/fonts/fa-solid-900.ttf") format("truetype"), url("https://statics.vntrip.vn/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

